body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.fullscreen-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  background-color: #dcfff7; /* Set your desired background color */
}